body{
	background-image: url('images/background_1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.outfit{
	position: absolute;
	text-align: center;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
}
#bird{
	position: relative;
	width: auto;
	height: auto;
	transform: scale(1.2);
	filter: drop-shadow(0px 17px 7px rgba(0, 0, 0, 0.4));
}
#text{
	width: 440px;
	height: 119px;
	padding: 5px;
	transform: scale(0.9);
	filter: drop-shadow(0px 17px 7px rgba(0, 0, 0, 0.4));
}
.content{
	position: absolute;
	font-size: medium;
	background-color: white;
	width: 370px;
	height: 200px;
	text-align: center;
	top: 37%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 10px 4px rgba(0, 0, 0, 0.25);
}
.content a{
	font-size: unset;
}
.discord{
	position: relative;
	width: 370px;
	height: 84px;
	background-color: #0832C8;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.discord:hover{
	transform: translateY(-10px);
}
.discord a{
	width: 0;
	height: 0;
}
#dclogo{
	object-fit: cover;
	position: relative;
	padding-top: 5px;
	top: -60px;
	width: 330px;
	height: 204px;
}
#tslogo{
	position: relative;
	width: 67px;
	height: 67px;
	left: -10%;
	padding-top: 20px;
}
#Calque_1{
	position: relative;
	width: 70px;
	height: 70px;
	left: 10%;
	padding-top: 20px;
}