body{
	background-image: url('images/background_1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
img, video, canvas
{
	max-width: 100%;
}
.outfit{
	position: absolute;
	text-align: center;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
}
#bird{
	position: relative;
	width: auto;
	height: auto;
	transform: scale(1.2);
	filter: drop-shadow(0px 17px 7px rgba(0, 0, 0, 0.4));
}
#text{
	width: 440px;
	height: 119px;
	padding: 5px;
	transform: scale(0.9);
	filter: drop-shadow(0px 17px 7px rgba(0, 0, 0, 0.4));
}
.content{
	padding-top: auto;
	position: absolute;
	font-size: medium;
	background-color: white;
	width: 22%;
	height: 20.7%;
	text-align: center;
	top: 37%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 10px 4px rgba(0, 0, 0, 0.25);
}
.discord{
	position: relative;
	width: 100%;
	height: 40%;
	background-color: #0832C8;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.discord:hover{
	transform: translateY(-10px);
}
#dclogo{
	background-image: url(images/ds_logo.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	width: 80%;
	height: 80%;
	padding-top: 5%;
	display: inline-block;
	text-indent: -9999px
}
#tslogo{
	background-image: url("images/ts_logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 10%;
	width: 70px;
	height: 70px;
	left: -10%;
	padding-top: 5%;
	display: inline-block;
	text-indent: -9999px;
}
#otlogo{
	background-image: url("images/ot_logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 10%;
	width: 70px;
	height: 70px;
	left: 10%;
	padding-top: 5%;
	display: inline-block;
	text-indent: -9999px;
}